.main{
  background-color: var(--white);
}

.sectionCategories{
  background-color: var(--white);
  padding-top: 1rem;
}

.sectionProductDetail{
  width: 90%;
  margin: 0 auto;
}

/* TABLET */
@media (min-width: 480px) {
  .sectionCategories{
    padding-top: 0rem;
  }
}

/* DESKTOP */
@media (min-width: 1000px){
  .sectionProductDetail{
    width: 80%;
  }
}
