.main{
  background-color: var(--white);
}

.sectionCategories{
  background-color: var(--white);
  padding-top: 1rem;
}

.sectionProductDetail{
  width: 90%;
  margin: 0 auto;
}

.buttonGoBack{
  color: var(--gray);
  font-size: 1em;
  background-color: transparent;
  border: none;
  margin-block: 2rem;
  cursor: pointer;
}

/* TABLET */
@media (min-width: 480px) {
  .sectionCategories{
    padding-top: 0rem;
  }

  .buttonGoBack{
    margin-block: 3rem;
  }
}

/* DESKTOP */
@media (min-width: 1000px){
  .sectionProductDetail{
    width: 80%;
  }
  
  .buttonGoBack{
    margin-block: 4rem;
  }
}
