.containerProduct, .containerProductDetail{
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.containerProductDetail{
  padding-top: 0;
}

.containerProduct:last-of-type{
  padding-bottom: 2rem;
}

.containerProduct picture img, .containerProductDetail picture img{
  border-radius: 5px;
}

.newProduct, .newProductDetail{
  color: var(--orange);
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center;
  padding-bottom: 1rem;
}

.newProductDetail{
  text-align: left;
}

.containerProduct div h2, .containerProductDetail div h2{
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  padding-bottom: 1rem;
  font-size: 2em;
  max-width: 12ch;
}

.containerProductDetail div h2{
  text-align: left;
  margin: 0;
}

.productDescription, .productDetailDescription{
  text-align: center;
  color: var(--gray);
  line-height: 1.7em;
}

.productDetailDescription{
  text-align: left;
}

.productDetailPrice{
  color: var(--black);
  font-weight: bold;
  padding-block: 2rem;
  letter-spacing: .1em;
}

.productLink{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.productLink a{
  background-color: var(--orange);
  color: var(--white);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 1rem 2rem;
}

.productDetailCart{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.productDetailCart .buttonAddToCart{
  background-color: var(--orange);
  border: none;
  color: var(--white);
  text-transform: uppercase;
  padding: .8rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

/* TABLET */
@media (min-width: 480px){
  .containerProduct:last-of-type{
    padding-bottom: 4rem;
  }
  
  .containerProductDetail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
}

/* DESKTOP */
@media (min-width: 1000px){
  .containerProduct{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }

  .containerProduct:nth-child(even) picture{
    grid-column: 2/3;
  }

  .containerProduct:nth-child(even) div{
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .newProduct, .productDescription{
    text-align: left;
  }

  .containerProduct div h2{
    text-align: left;
    margin: 0;
  }

  .containerProductDetail div h2{
    font-size: 2.5em;
  }

  .productLink{
    justify-content: flex-start;
    padding-top: 2rem;
  }

  .productLink a:hover, .productDetailCart .buttonAddToCart:hover{
    background-color: var(--lightOrange);
    transition: all .2s ease-in-out;
  }
}