.header{
  background-color: var(--lightBlack);
  padding-block: 2rem;
}

.headerContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.menuMobile{
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: none;
  position: relative;
}

.menuMobile:hover{
  cursor: pointer;
}

.menuMobile span{
  position: absolute;
  width: 19px;
  height: 3px;
  background-color: var(--white);
  left: 0;
  transition: all .3s ease-in-out;
}

.menuMobile span:nth-child(1){
  top: 0;
}

.menuMobile span:nth-child(2){
  top: 8px;
}

.menuMobile span:nth-child(3){
  bottom: 0;
}

.menuMobile.active span:nth-child(1){
  transform: rotate(45deg);
  top: 8px;
}

.menuMobile.active span:nth-child(2){
  width: 0px;
}

.menuMobile.active span:nth-child(3){
  transform: rotate(-45deg);
  bottom: 8px;
}

.logo{
  display: flex;
}

.navigation{
  position: absolute;
  background-color: var(--white);
  width: 100%;
  left: 0;
  top: 89px;
  z-index: 5;
  margin-bottom: 4rem;
  transition: all .5s ease-in-out;
}

.navigation[aria-hidden="false"]{
  height: 0vh;
  overflow: auto;
}

.navigation[aria-hidden="true"]{
  height: 100vh;
  overflow: hidden;
}

.cart{
  background-color: transparent;
  border: none;
  position: relative;
}

.cart .cartProductsNumber{
  background-color: var(--orange);
  color: var(--white);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  position: absolute;
  top: -8px;
  right: -3px;
}

.cart .cartProductsNumber[aria-hidden="true"]{
  display: none;
}

.cart .cartProductsNumber[aria-hidden="false"]{
  display: grid;
  place-content: center;
}

.logo:hover, .cart:hover{
  cursor: pointer;
}

/* TABLET */
@media (min-width: 480px) {
  .headerContainer{
    gap: 2rem;
  }

  .navigation{
    border-radius: 0px 0px 10px 10px;
  }

  .navigation[aria-hidden="true"]{
    height: 40vh;
    overflow: hidden;
  }

  .logo{
    flex: 1;
  }
}

/* DESKTOP */
@media (min-width: 1000px) {
  .headerContainer{
    gap: 0;
    width: 80%;
  }

  .menuMobile{
    display: none;
  }
  
  .navigation{
    position: static;
    background-color: transparent;
    width: auto;
    border-radius: 0;
    transition: none;
    margin-bottom: 0;
  }

  .navigation[aria-hidden="false"], .navigation[aria-hidden="true"]{
    height: auto;
  }

  .logo{
    flex: none;
  }
  
  .logo:hover svg path, .cart:hover svg path{
    fill: var(--orange);
    transition: all .2s ease-in-out;
  }
}