:root{
  --white: #fff;
  --black: #000;
  --lightBlack: #191919;
  --lightOrange: #FBAF85;
  --orange: #D87D4A;
  --gray: #7D829D;
  --darkGray: #303030;
  --lightGray: #F1F1F1;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: var(--lightBlack);
}

a{
  text-decoration: none;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

img, picture{
  max-width: 100%;
  display: block;
}
