.main{
  background-color: var(--lightGray);
}

.sectionGoBack{
  width: 90%;
  margin: 0 auto;
}

.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

@media (min-width: 468px){
  
}

@media (min-width: 1000px){
  .sectionGoBack{
    width: 80%;
  }  

  .container{
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 2rem;
    width: 80%;
    padding-bottom: 4rem;
  }
}